<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div>#100днейкода</div>
<button onclick="console.log(`Prev`)">Back</button>
<button onclick="console.log(`Next`)">Next</button>



</body>
</html>
